.calculator--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "clear clear clear add"
    "one two three subtract"
    "four five six multiply"
    "seven eight nine divide"
    "zero zero decimal equals";
  height: 50vh;
  width: 65vw;
  align-self:center;
  background-color: var(--calculator-background-color);
  border-radius: 15px;
  gap: 15px;
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
}

.display {
  align-self: center;
  font-weight: bold;
  width: 65vw;
}

#answer {
  font-size: 45px;
  height: 45px;
}

#expression {
  font-size: 30px;
  height: 30px;
  margin: 5px;
  color: rgb(8, 8, 19, 0.8);
}

button {
  border: none;
  border-radius: 50px;
  background-color: var(--number-color);
  font-size: 5vh;
}

.clear, .add, .subtract, .multiply, .divide, .equals {
  background-color: var(--important-button-color)
}

@media only screen and (max-width: 600px) {
  .calculator {
    gap: 8px;
  }
}